
/* Setting width of the container to 700px */
.date-time-year-container {
    width: 700px;
}

/* setting height to match time-box component */
.time-dots{
    height: 100px;
}

/* Dot styles for pulsing dots */
.dot{
    width: 16px; 
    height: 16px;
    background-color: #212121;
    border-radius: 2px;
    animation: pulsing-dots 1s infinite;
}

/* Animation for pulsing dots */
@keyframes pulsing-dots{
    0%{
        opacity: 0;
    }
    50%{
       opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}

