<div class="date-year-box d-flex ">
    <div class="day-box inner-shadow-box">
        <h1 class="day-string text-style p-1" >{{day}}</h1>
    </div>

    <div class="date-box inner-shadow-box">
        <h1 class="date-number text-style p-1" >{{date}}</h1>
    </div>

    <div class="month-box inner-shadow-box">
        <h1 class="month-string text-style p-1" >{{monthName}}</h1>
    </div>

    <div class="year-box inner-shadow-box">
        <h1 class="year-number text-style p-1" >{{year}}</h1>
    </div>
</div>
