.inner-shadow-box{
    border-radius: 4px;
    background-color: transparent;
    margin: 10px;
    box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 1);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.text-style {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    margin: 0;
}

.date-year-box {
    
}