/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css'; 
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans&display=swap');
@import '~bootstrap-icons/font/bootstrap-icons.css';

:root {
    --primary-color: #212529;
    --secondary-color: #f8f9fa;
    --component-color: #343a40;
    --text-box-unfocused: #ced4da;
    --text-box-focused: #f8f9fa;
}

body {
    background-image: url(assets/thick-forest-5120x2880-14776.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.glow-effect {
    box-shadow: 0 0 5px 0px #e9ecef;
}

.text-shadow-effect {
    text-shadow:  0px 0px 5px rgba(0, 0, 0, 0.8);
}


